html {
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    font-size: 18px;
    overflow-y: scroll;
    background-color: #f0f0f0;
    background-color: #f3f3f3;
    background-color: #f5f5f5;
    background-color: #f7f7f7;
    background-color: rgb(249, 247, 245);
}



/* ==========================================================================
   Main
   ========================================================================== */

.main {
    padding: 0 32px;
}

.is-mobile .main {
    padding: 0 16px;
}




/* ==========================================================================
   Main Content
   ========================================================================== */

.main h1 {
    max-width: 960px;
    font-family: "Merriweather", sans-serif;
    color: #000;
    font-weight: 900;
    margin: 96px auto 12px;
    text-align: center;
    text-wrap: balance;
    font-size: 64px;
    line-height: 1.1;
}

.is-mobile .main h1 {
    font-size: 32px;
    margin: 48px auto 12px;
}

.main .preamble {
    text-align: center;
    text-wrap: balance;
    max-width: 640px;
    line-height: 1.2;
    margin: 0 auto;
    font-size: 24px;
}

.is-mobile .main .preamble {
    font-size: 20px;
}

.main .text-content {
    max-width: 640px;
    margin: 0 auto;
}