.about {
    max-width: 960px;
    margin: 0 auto;
}



/* ==========================================================================
   Team
   ========================================================================== */

.about__team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 24px;
    margin: 2em auto;
}

.is-mobile .about__team {
    gap: 16px 4px;
    margin: 2em -0.8em;
}

.about__team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

.about__team-member-image {
    display: block;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .3);
    filter: grayscale(.1) sepia(0.02);
}

.is-mobile .about__team-member-image {
    width: 90px;
    height: 90px;
}

.about__team-member-name {
    display: block;
    text-align: center;
    line-height: 1.2;
    font-size: .8em;
    font-weight: bold;
}

.about__team-member-department {
    display: block;
    text-align: center;
    line-height: 1.6;
    font-size: .75em;
}
