.contact {
    max-width: 960px;
    margin: 0 auto;
}

.contact__information {
    max-width: 760px;
    margin: 3em auto 0;
}

.is-mobile .contact__information {
    margin: 1em auto 0;
}

a.contact__mail,
a.contact__phone {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 3px;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
}

.is-desktop .contact__mail:hover,
.is-desktop .contact__phone:hover {
    border-bottom: 1px solid;
}

.contact__mail svg,
.contact__phone svg {
    margin: 0 10px 0 0;
    width: 16px;
    color: #0470e1;
    transition: var(--dark-mode-transition);
}