/* ==========================================================================
   Hero
   ========================================================================== */

.index__hero {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}




/* ==========================================================================
   Highlights
   ========================================================================== */

.index__highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 24px;
    margin: 6em auto;
    max-width: 1280px;
}



/* ==========================================================================
   Feature Highlight
   ========================================================================== */

.index__feature-highlight {
    padding: 40px 12px 46px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px #1436371a;
}

.index__feature-highlight-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 12px;
    border-radius: 50%;
    border-radius: 12px;
    background-color: #f7f7f7;
    background-color: #f5f5f5;
    background-color: rgba(52, 114, 239, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
}

.index__feature-highlight svg {
    color: red;
    color: hsl(210deg 77% 40%);
    color: hsl(210deg 95.63% 43.55%);
    color: rgb(52, 114, 239);
    width: 28px;
    height: 28px;
    width: 30px;
    height: 30px;
    display: block;
}


.index__feature-highlight h3 {
    /* font-family: "Merriweather", sans-serif; */
    text-align: center;
    margin: 0 0 6px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.index__feature-highlight p {
    text-align: center;
    text-wrap: balance;
    max-width: 300px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    color: #909090;
    color: #888;
    line-height: 1.2;
}



/* ==========================================================================
   Testimonials
   ========================================================================== */

.index__testimonials {
    padding: 6em 0 3em;
    margin: 32px auto;
}

.index__testimonials-header {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 2.5em;
    line-height: 1.1;
    text-wrap: balance;
    margin: 0 auto 1em;
}

.is-mobile .index__testimonials-header {
    font-size: 1.5em;
}

.index__testimonials-content {
    gap: 32px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 32px;
    max-width: 1280px;
}



/* ==========================================================================
   Testimonial
   ========================================================================== */

.index__testimonial {
    text-align: center;
    text-align: left;
    position: relative;
    max-width: 320px;
}

.index__testimonial-quote {
    font-family: "Merriweather", serif;
    font-size: .9em;
    font-style: italic;
    color: #444;
}

.index__testimonial-customer {
    /* font-weight: 600; */
    font-size: .9em;
    line-height: 1.1;
    /* text-align: right; */
}



/* ==========================================================================
   Features
   ========================================================================== */

.index__features {
    /* display: flex;
    flex-direction: column;
    margin: 4em auto;
    max-width: 960px; */
    margin: 6em auto;
}



.index__features-header {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 2.5em;
    line-height: 1.1;
    text-wrap: balance;
    margin: 0 0 1em;
}

.is-mobile .index__features-header {
    font-size: 1.5em;
}



/* ==========================================================================
   Features Container
   ========================================================================== */

.index__features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    max-width: 1600px;
}

.is-mobile .index__features-container {
    gap: 16px;
}



/* ==========================================================================
   Feature
   ========================================================================== */

.index__feature {
    max-width: 300px;
    padding: 1.2em 1em 1em 1.2em;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px #1436371a;
}



/* ==========================================================================
   Feature
   ========================================================================== */

.index__feature h3 {
    margin: 0;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1.1;
    margin-bottom: .2em;
}

.is-mobile .index__feature h3 {
    font-size: 1em;
}

.index__feature p {
    margin: 0;
    line-height: 1.3;
    font-size: .95em;
}



/* ==========================================================================
   Reasons
   ========================================================================== */

.index__reasons {
    display: flex;
    gap: 32px;
    align-items: center;
    background: linear-gradient(to right bottom, hsl(210, 70%, 54%), hsl(210deg 100% 37.61%));
    color: white;
    margin: 0 auto;
    padding: 4em 3em;
    border-radius: 32px;
}

.is-mobile .index__reasons {
    display: block;
}

.index__reasons-left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.is-mobile .index__reasons-left {
    display: block;
    width: auto;
    max-width: 480px;
    margin: 0 auto 1.5em;
}

.index__reasons-right {
    width: 55%;
}

.is-mobile .index__reasons-right {
    width: auto;
    max-width: 480px;
    margin: auto;
}

.index__reasons h3 {
    font-size: clamp(1.5em, 3vw, 3em);
    margin: 0;
    font-weight: 600;
    font-family: "Merriweather", sans-serif;
    line-height: 1;
}

.index__reasons h3 span {
    white-space: nowrap;
    display: block;
}

.is-mobile .index__reasons h3 span {
    display: inline;
}

.index__reason {
    margin-bottom: 1.5em;
}

.index__reason:last-child {
    margin-bottom: 0;
}

.index__reason h4 {
    font-family: "Merriweather", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 .1em;
}

.index__reason p {
    margin: 0;
    font-size: 17px;
    line-height: 1.3;
    max-width: 480px;
}



/* ==========================================================================
   CTA
   ========================================================================== */

.index__cta {
    background-color: #fff;
    background-color: #fdac4b;
    background: linear-gradient(135deg, rgb(32, 94, 239) 0, rgb(45, 77, 192) 100%);
    background: linear-gradient(to right bottom, hsl(210, 70%, 54%), hsl(210deg 100% 37.61%));
    color: #fff;
    padding: 5em 1em 3em;
    margin: 6em auto 4em;
    border-radius: 32px;
    max-width: 720px;
}

.index__cta h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;
    line-height: 1.2;
    max-width: 640px;
    margin: 0 auto .5em;
}

.index__cta p {
    text-align: center;
    font-size: 18px;
    padding: 2.5em 0 0;
}

.index__cta a {
    color: #fff;
    background: #0043a0;
    padding: 1em 2em;
    border-radius: 16px;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
}