.terms-of-service__content {
    max-width: 800px;
    margin: 0 auto;
}

.terms-of-service h2 {
    font-size: 2.2em;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 2em 0 1em;
}

.terms-of-service h3 {
    margin: 1.2em 0 .4em;
    font-weight: normal;
    font-size: 1.5em;
    color: #1766b5;
}

.terms-of-service h4 {
    margin: 1em 0 .4em;
}

.terms-of-service p {
    margin: 0 0 1em;
}

.terms-of-service table {
    border-collapse: collapse;
    font-size: 14px;
}

.terms-of-service td, th {
    text-align: left;
    vertical-align: top;
    padding: .4em .5em;
    line-height: 1.1;
}

.terms-of-service td {
    border: 1px solid #bbb;
}