.terms-of-service__content {
    max-width: 1024px;
    margin: 4em auto 0;
    background: #fff;
    border-radius: 2em;
    padding: 2em;
}

.is-mobile .terms-of-service__content {
    border-radius: 1em;
    padding: 1em;
}

.terms-of-service h2,
.terms-of-service h3,
.terms-of-service h4,
.terms-of-service p,
.terms-of-service table,
.terms-of-service ul {
    max-width: 640px;
}

.terms-of-service h2 {
    font-size: 2.2em;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 2em auto 1em;
    line-height: 1.1;
}

.terms-of-service h2:first-child {
    margin-top: 1em;
}

.is-mobile .terms-of-service h2:first-child {
    margin-top: 0;
}

.terms-of-service h3 {
    margin: 1.2em auto .4em;
    font-weight: normal;
    font-size: 1.4em;
    color: #1766b5;
    line-height: 1.1;
}

.terms-of-service h4 {
    margin: 1em auto .2em;
    line-height: 1.1;
}

.terms-of-service p {
    margin: 0 auto 1em;
}

.terms-of-service ul {
    margin-left: auto;
    margin-right: auto;
}

.terms-of-service table {
    border-collapse: collapse;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.terms-of-service td, th {
    text-align: left;
    vertical-align: top;
    padding: .4em .5em;
    line-height: 1.1;
}

.terms-of-service td {
    border: 1px solid #bbb;
}