/* ==========================================================================
   Hero
   ========================================================================== */

.index__hero {
    max-width: 1280px;
    margin: 4em auto;
}

.index__hero img {
    display: block;
    object-fit: contain;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
        0 10px 40px -20px rgba(0, 0, 0, 0.25),
        0 20px 60px -25px rgba(0, 0, 0, 0.2),
        0 20px 20px -30px rgba(0, 0, 0, 0.1),
        0 40px 30px -40px rgba(0, 0, 0, 0.2),
        0 60px 40px -50px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.04);
}



/* ==========================================================================
   Highlights
   ========================================================================== */

.index__highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 24px;
    margin: 6em auto;
    max-width: 1280px;
}



/* ==========================================================================
   Feature Highlight
   ========================================================================== */

.index__feature-highlight {
    padding: 40px 12px 46px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px #1436371a;
}

.index__feature-highlight-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 12px;
    border-radius: 50%;
    border-radius: 12px;
    background-color: #f7f7f7;
    background-color: #f5f5f5;
    background-color: rgba(52, 114, 239, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
}

.index__feature-highlight svg {
    color: red;
    color: hsl(210deg 77% 40%);
    color: hsl(210deg 95.63% 43.55%);
    color: rgb(52, 114, 239);
    width: 28px;
    height: 28px;
    width: 30px;
    height: 30px;
    display: block;
}


.index__feature-highlight h3 {
    /* font-family: "Merriweather", sans-serif; */
    text-align: center;
    margin: 0 0 6px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.index__feature-highlight p {
    text-align: center;
    text-wrap: balance;
    max-width: 300px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    color: #909090;
    color: #888;
    line-height: 1.2;
}



/* ==========================================================================
   Testimonials
   ========================================================================== */

.index__testimonials {
    padding: 12em 0 8em;
    margin: 32px auto;
}

.index__testimonials-content {
    gap: 32px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
}



/* ==========================================================================
   Testimonial
   ========================================================================== */

.index__testimonial {
    border-radius: 8px;
    background-color: #f0f0f0;
    background-color: #fff;
    box-shadow: 0 2px 14px #bbb;
    text-align: center;
    position: relative;
}

.index__testimonial-avatar {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -58px;
    left: calc(50% - 54px);
    margin: 0 auto;
    display: block;
    border: 8px solid white;
}

.index__testimonial-quote {
    font-size: .86em;
    padding: 58px 2em 0;
}

.index__testimonial-customer {
    font-weight: 600;
}



/* ==========================================================================
   Features
   ========================================================================== */

.index__features {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    max-width: 960px;
}



/* ==========================================================================
   Features Container
   ========================================================================== */

.index__features-container {
    gap: 64px;
    column-width: 320px;
}



/* ==========================================================================
   Feature
   ========================================================================== */

.index__feature {
    display: inline-block;
    margin-top: 32px;
}



/* ==========================================================================
   Feature
   ========================================================================== */

.index__feature h3 {
    margin: 0;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1.2em;
}

.index__feature p {
    margin: 0;
}



/* ==========================================================================
   Reasons
   ========================================================================== */

.index__reasons {
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, hsl(210, 70%, 54%), hsl(210deg 100% 37.61%));
    color: white;
    margin: 0 auto;
    padding: 6em 0;
    border-radius: 32px;
}

.index__reasons-left,
.index__reasons-right {
    width: 50%;
    padding: 0 2em;
}

.index__reasons-left {
    display: flex;
    justify-content: flex-end;
}

.index__reasons h3 {
    font-size: 3.8em;
    font-weight: 600;
    font-family: "Merriweather", sans-serif;
    line-height: 1;
}

.index__reason {
    margin-bottom: 1em;
}

.index__reason:last-child {
    margin-bottom: 0;
}

.index__reason h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 .2em;
}

.index__reason p {
    margin: 0;
    font-size: 17px;
    line-height: 1.3;
    max-width: 480px;
}



/* ==========================================================================
   CTA
   ========================================================================== */

.index__cta {
    background-color: #fff;
    background-color: #fdac4b;
    background: linear-gradient(135deg, rgb(34, 98, 250) 0, rgb(11, 37, 133) 100%);
    color: #fff;
    padding: 5em 1em 3em;
    margin: 6em auto 4em;
    border-radius: 32px;
    max-width: 600px;
}

.index__cta h2 {
    font-family: "Merriweather", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;
    line-height: 1.2;
    max-width: 640px;
    margin: 0 auto .5em;
}

.index__cta p {
    text-align: center;
    font-size: 18px;
    padding: 2.5em 0 0;
}

.index__cta a {
    color: hsl(210deg 77% 40%);
    color: #fff;
    background: linear-gradient(135deg, rgb(236, 13, 145) 0, rgb(85, 34, 250) 100%);
    background: #2440ff;
    padding: 1em 2em;
    border-radius: 16px;
    border: 2px solid #fff;
    /* border-bottom: 1px solid hsl(210deg 77% 40%); */
    text-decoration: none;
    font-weight: bold;
}